<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<configSections>
		<section name="Usuarios" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="ServerIpAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="5000"/>
	</appSettings>
	<Usuarios>
		<add key="Usuario1" value="carme,1234"/>
		<add key="Usuario2" value="fer,1234"/>
		<add key="Usuario3" value="nacho,1234"/>
	</Usuarios>
</configuration>